@font-face {
  font-family: "BNP Book";
  src: local("BNP Book"), url("../fonts/BNP/BNP-Book.woff") format("woff"),
    url("../fonts/BNP/BNP-Book.woff2") format("woff2"),
    url("../fonts/BNP/BNP-Book.ttf") format("truetype");
  font-style: normal;
  font-weight: 350;
}

@font-face {
  font-family: "BNP Book Italic";
  src: local("BNP Book Italic"),
    url("../fonts/BNP/BNP-BookItalic.woff") format("woff"),
    url("../fonts/BNP/BNP-BookItalic.woff2") format("woff2"),
    url("../fonts/BNP/BNP-BookItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 350;
}

@font-face {
  font-family: "BNP Regular";
  src: local("BNP Regular"), url("../fonts/BNP/BNP-Regular.woff") format("woff"),
    url("../fonts/BNP/BNP-Regular.woff2") format("woff2"),
    url("../fonts/BNP/BNP-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "BNP Italic";
  src: local("BNP Italic"), url("../fonts/BNP/BNP-Italic.woff") format("woff"),
    url("../fonts/BNP/BNP-Italic.woff2") format("woff2"),
    url("../fonts/BNP/BNP-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "BNP Bold";
  src: local("BNP Bold"), url("../fonts/BNP/BNP-Bold.woff") format("woff"),
    url("../fonts/BNP/BNP-Bold.woff2") format("woff2"),
    url("../fonts/BNP/BNP-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "BNP BoldItalic";
  src: local("BNP BoldItalic"),
    url("../fonts/BNP/BNP-BoldItalic.woff") format("woff"),
    url("../fonts/BNP/BNP-BoldItalic.woff2") format("woff2"),
    url("../fonts/BNP/BNP-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "SF Mono Regular";
  src: local("SF Mono Regular"),
    url("../fonts/SFMono/SFMono-Regular.woff") format("woff"),
    url("../fonts/SFMono/SFMono-Regular.woff2") format("woff2"),
    url("../fonts/SFMono/SFMono-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SF Mono Regular Italic";
  src: local("SF Mono Regular Italic"),
    url("../fonts/SFMono/SFMono-RegularItalic.woff") format("woff"),
    url("../fonts/SFMono/SFMono-RegularItalic.woff2") format("woff2"),
    url("../fonts/SFMono/SFMono-RegularItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SF Mono Medium";
  src: local("SF Mono Medium"),
    url("../fonts/SFMono/SFMono-Medium.woff") format("woff"),
    url("../fonts/SFMono/SFMono-Medium.woff2") format("woff2"),
    url("../fonts/SFMono/SFMono-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SF Mono Medium Italic";
  src: local("SF Mono Medium Italic"),
    url("../fonts/SFMono/SFMono-MediumItalic.woff") format("woff"),
    url("../fonts/SFMono/SFMono-MediumItalic.woff2") format("woff2"),
    url("../fonts/SFMono/SFMono-MediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SF Mono Semibold";
  src: local("SF Mono Semibold"),
    url("../fonts/SFMono/SFMono-Semibold.woff") format("woff"),
    url("../fonts/SFMono/SFMono-Semibold.woff2") format("woff2"),
    url("../fonts/SFMono/SFMono-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SF Mono Semibold Italic";
  src: local("SF Mono Semibold Italic"),
    url("../fonts/SFMono/SFMono-SemiboldItalic.woff") format("woff"),
    url("../fonts/SFMono/SFMono-SemiboldItalic.woff2") format("woff2"),
    url("../fonts/SFMono/SFMono-SemiboldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Calibre";
  src: local("Calibre Light"), local("Calibre-Light"),
    url("../fonts/Calibre/Calibre-Light.woff2") format("woff2"),
    url("../fonts/Calibre/Calibre-Light.woff") format("woff"),
    url("../fonts/Calibre/Calibre-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: local("Calibre Light Italic"), local("Calibre-LightItalic"),
    url("../fonts/Calibre/Calibre-LightItalic.woff2") format("woff2"),
    url("../fonts/Calibre/Calibre-LightItalic.woff") format("woff"),
    url("../fonts/Calibre/Calibre-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Calibre";
  src: local("Calibre Medium"), local("Calibre-Medium"),
    url("../fonts/Calibre/Calibre-Medium.woff2") format("woff2"),
    url("../fonts/Calibre/Calibre-Medium.woff") format("woff"),
    url("../fonts/Calibre/Calibre-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: local("Calibre Medium Italic"), local("Calibre-MediumItalic"),
    url("../fonts/Calibre/Calibre-MediumItalic.woff2") format("woff2"),
    url("../fonts/Calibre/Calibre-MediumItalic.woff") format("woff"),
    url("../fonts/Calibre/Calibre-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Calibre";
  src: local("Calibre"), local("Calibre-Regular"),
    url("../fonts/Calibre/Calibre-Regular.woff2") format("woff2"),
    url("../fonts/Calibre/Calibre-Regular.woff") format("woff"),
    url("../fonts/Calibre/Calibre-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: local("Calibre Regular Italic"), local("Calibre-RegularItalic"),
    url("../fonts/Calibre/Calibre-RegularItalic.woff2") format("woff2"),
    url("../fonts/Calibre/Calibre-RegularItalic.woff") format("woff"),
    url("../fonts/Calibre/Calibre-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Calibre";
  src: local("Calibre Semibold"), local("Calibre-Semibold"),
    url("../fonts/Calibre/Calibre-Semibold.woff2") format("woff2"),
    url("../fonts/Calibre/Calibre-Semibold.woff") format("woff"),
    url("../fonts/Calibre/Calibre-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: local("Calibre Semibold Italic"), local("Calibre-SemiboldItalic"),
    url("../fonts/Calibre/Calibre-SemiboldItalic.woff2") format("woff2"),
    url("../fonts/Calibre/Calibre-SemiboldItalic.woff") format("woff"),
    url("../fonts/Calibre/Calibre-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

:root {
  --clr-background-major: rgb(181, 178, 166);
  --clr-background-major-opaque: rgba(181, 178, 166, 0.9);
  --clr-background-minor: rgb(150, 149, 141);
  --clr-background-minor-opaque: rgba(150, 149, 141, 0.9);
  --clr-background-minor-opaque-strong: rgba(150, 149, 141, 0.2);
  --clr-very-dark: rgb(26, 26, 26);
  --clr-dark-strong: rgb(46, 46, 46);
  --clr-dark: rgb(52, 69, 73);
  --clr-dark-opaque: rgba(52, 69, 73, 0.5);
  --clr-light-dark: rgb(90, 107, 110);
  --clr-triangle-nav-stroke: rgb(53, 160, 103);
  --clr-green-major: rgb(53, 160, 103);
  --clr-green-minor: rgb(61, 139, 104);
  --clr-magenta: rgb(118, 112, 129);
  --clr-sidebar-font-hover: rgb(181, 178, 166);
  --clr-descr-animation-light: rgba(201, 201, 201, 0.5);

  --clr-prisma-background-gradient: linear-gradient(
    270deg,
    var(--clr-dark),
    var(--clr-background-major)
  );

  --clr-sidebar-text-hover-linear-gradient: linear-gradient(
    270deg,
    var(--clr-background-minor),
    var(--clr-magenta)
  );

  --clr-launch-body-background-radial-gradient: radial-gradient(
    var(--clr-background-major),
    var(--clr-background-minor)
  );

  --ff-primary: "BNP Regular", "Calibre", Tahoma, sans-serif;
  --ff-secondary: "Oswald", sans-serif;

  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.5s ease;
  --transition-fast: all 0.3s ease;

  --navbar-height: 5rem;
  --neg-page-top-space: -5rem;
}

.dark-theme {
  --clr-background-major: rgb(46, 46, 46);
  --clr-background-major-opaque: rgba(46, 46, 46, 0.9);
  --clr-background-minor: rgb(51, 51, 51);
  --clr-background-minor-opaque: rgba(51, 51, 51, 0.9);
  --clr-background-minor-opaque-strong: rgba(51, 51, 51, 0.2);
  --clr-very-dark: rgb(181, 178, 166);
  --clr-dark: rgb(61, 139, 104);
  --clr-light-dark: rgb(46, 46, 46);
  --clr-green-major: rgb(99, 70, 109);
  --clr-magenta: rgb(53, 161, 105);

  --clr-green-minor: rgb(52, 70, 74);
  --clr-sidebar-text-hover-linear-gradient: linear-gradient(
    270deg,
    var(--clr-background-minor),
    var(--clr-light-dark)
  );
  --clr-prisma-background-gradient: linear-gradient(
    270deg,
    rgba(61, 139, 104, 0.8),
    rgb(46, 46, 46, 0.8)
  );
  --clr-sidebar-font-hover: rgb(123, 99, 137);
  --clr-launch-body-background-radial-gradient: var(--clr-background-minor);
  transition: var(--transition);
}

.htmlScrollbarDarkMode {
  --clr-background-minor: rgb(51, 51, 51);
  --clr-dark: rgb(61, 139, 104);
  --clr-magenta: rgb(53, 161, 105);
  scrollbar-face-color: var(--clr-dark);
  scrollbar-shadow-color: var(--clr-magenta);
  scrollbar-highlight-color: var(--clr-magenta);
  scrollbar-color: var(--clr-dark) var(--clr-background-minor);
  scrollbar-width: thin;
  overflow-y: scroll;
  overflow-x: hidden;
}

/*
=============== 
Global Styles
===============
*/

html {
  scrollbar-face-color: var(--clr-dark);
  scrollbar-shadow-color: var(--clr-magenta);
  scrollbar-highlight-color: var(--clr-magenta);
  scrollbar-color: var(--clr-dark) var(--clr-background-minor);
  scrollbar-width: thin;
  overflow-y: scroll;
  overflow-x: hidden;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "BNP Bold", "SF Mono Regular", Tahoma, sans-serif;
  background: var(--clr-background-major);
  color: var(--clr-dark);
  line-height: 1.5;
  font-size: 0.875rem;
  margin-top: var(--navbar-height);
  letter-spacing: 0.05rem;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 9px;
  left: -100px;
}

body::-webkit-scrollbar-track {
  background: var(--clr-background-minor);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-dark);
  border-top: 0px;
  border-bottom: 0px;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-dark);
}

#sunmoon {
  width: 1.2rem;
  height: 1.3rem;
}

#themeiconwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#sunmoon path {
  fill: var(--clr-background-major);
}

#themeiconwrapper:hover #sunmoon path {
  transition: var(--transition);
  fill: var(--clr-dark);
}

.highlight {
  color: var(--clr-green-minor);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-dark);
  color: var(--clr-background-minor);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 1px 1px 2px var(--clr-light-dark);
}
.btn:hover {
  color: var(--clr-green-major);
  box-shadow: 2px 2px 4px var(--clr-light-dark);
}

.center-btn {
  display: block;
  width: 12rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

/* added during recording */
.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--clr-green-minor);
  margin-left: auto;
  margin-right: auto;
}
.section-title {
  margin-bottom: 4rem;
  text-align: center;
}

/* page links */

/*
==========
Launch
==========
*/

#imagewrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: var(--clr-launch-body-background-radial-gradient);
  margin-top: var(
    --neg-page-top-space
  ); /* to compensate window height difference */
}

#logo {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 30vh;
  min-width: 40vw;
  max-height: 40vh;
  max-width: 90vw;
  overflow: hidden;
  opacity: 0; /* make opaque for animation */
}

#triangle {
  cursor: pointer;
}

/* The animation code */
@keyframes highlight_descr {
  0% {
    fill: var(--clr-dark);
  }
  50% {
    fill: var(--clr-dark-opaque);
  }
  95% {
    fill: var(--clr-dark);
  }
  100% {
    fill: var(--clr-descr-animation-light);
  }
}

/* The animation code */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#description path:not(#_12hypen) {
  animation-name: highlight_descr;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes breathe {
  0% {
    transform: scale(0.95);
    transform-origin: 149.9px 148.4px;
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    transform-origin: 149.9px 148.4px;
    opacity: 1;
  }
}

#outercircle ellipse,
#innercircle ellipse {
  animation-name: breathe;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@media screen and (min-width: 992px) {
  #logo {
    max-height: 30vh;
  }
}

/*
==========
NAVBAR
==========
*/

.navbar_open {
  background: var(--clr-background-major);
}

.navbar_closed {
  background: var(--clr-background-minor-opaque);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  z-index: 200;
  box-shadow: 2px 0px 4px var(--clr-dark-strong);
  transition: var(--transition);
}

.navbar_disappear {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  z-index: 200;
  box-shadow: 2px 0px 4px var(--clr-dark-strong);
  transition: var(--transition);
  transform: translateY(-100%);
}

.nav-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav_main_logo {
  margin-bottom: 0.375rem;
  height: 3.5rem;
  width: 3.5rem;
  visibility: hidden;
}

.toggle-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-background-minor);
  cursor: pointer;
  transition: var(--transition);
}

.toggle-btn:hover {
  color: var(--clr-background-minor);
}

.toggle-btn svg {
  width: 3.5rem;
  height: 3.5rem;
  opacity: 0.9;
}

.toggle-btn:hover #circle_gradient_first_child {
  stop-color: var(--clr-background-major);
}

#toggle stop {
  transition: var(--transition);
}

#triangle_nav:hover {
  stroke: var(--clr-triangle-nav-stroke);
  stroke-width: 0.3rem;
}

.nav-links {
  font-size: 1.3rem;
  display: none;
}

#circle_nav {
  transform: scale(0.9);
  transform-origin: 50% 50% 0;
}

@keyframes makeVisible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes makeInvisible {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scaling {
  0% {
    transform: scale(0.9);
    transform-origin: 50% 50% 0;
    opacity: 1;
  }
  50% {
    transform: scale(1);
    transform-origin: 50% 50% 0;
    opacity: 0.5;
  }
  100% {
    transform: scale(0.9);
    transform-origin: 50% 50% 0;
    opacity: 1;
  }
}

.enableVisibility {
  animation-name: makeVisible;
  animation-duration: 2s;
  opacity: 1;
}

.enableInvisibility {
  animation-name: makeInvisible;
  animation-duration: 1s;
  opacity: 0;
}

.scale {
  animation-name: scaling;
  animation-duration: 500ms;
}

@media screen and (min-width: 768px) {
  .navbar {
    background: var(--clr-background-minor-opaque-strong);
  }

  .toggle-btn {
    display: none;
  }
  .nav-links {
    display: flex;
    justify-content: flex-end;
  }
  .nav-links li {
    margin-right: 2rem;
  }
  .nav-links a {
    text-transform: uppercase;
    color: var(--clr-dark);
    letter-spacing: var(--spacing);
    transition: var(--transition-fast);
    padding: 0.2rem 0;
  }
  .nav-links a:hover {
    color: var(--clr-dark);
    box-shadow: 0px -3px var(--clr-green-major);
  }

  #nav_main_logo {
    visibility: visible;
  }

  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    background: var(--clr-background-minor-opaque-strong);
  }

  #nav_main_logo {
    visibility: visible;
  }
}

/*
=============== 
Sidebar
===============
*/
.sidebar {
  background: var(--clr-launch-body-background-radial-gradient);
  position: fixed;
  padding-top: var(--navbar-height);
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 199;
  display: grid;
  place-items: center;
  transition: var(--transition);
  transform: translateY(-100%);
  visibility: hidden;
}
.show-sidebar {
  visibility: visible;
  opacity: 0.92;
  transform: translateY(0);
}
.sidebar-links li {
  opacity: 1;
}

.sidebar-links li a {
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: var(--clr-dark);
  letter-spacing: var(--spacing);
  margin-bottom: 0.5rem;
  font-size: 2rem;
  width: 100vw;
  transition: var(--transition);
}
.sidebar-links li a:hover,
.sidebar-links div:hover {
  background: var(--clr-sidebar-text-hover-linear-gradient);
  color: var(--clr-sidebar-font-hover);
}

.sidebar-links div {
  width: 100vw;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centering y-axis */
  align-items: center; /* Centering x-axis */
}

.sidebar-links svg {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .sidebar {
    transform: translateY(-100%);
  }
}
/*
=============== 
Transition Styles
===============
*/
.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 2000ms linear;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 2000ms linear;
}

.fade-enter-done {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 400ms linear;
}

.fade-exit-done {
  opacity: 1;
}

.fadeup-appear {
  opacity: 0.01;
  transform: translateY(20px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

.fadeup-appear-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

/* Fade down */
.fadedown-appear {
  opacity: 0.01;
  transform: translateY(-20px);
  transition: opacity 500ms var(--easing), transform 500ms var(--easing);
}

.fadedown-appear-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 500ms var(--easing), transform 500ms var(--easing);
}

/* Fade */
/* .fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms var(--easing);
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms var(--easing);
} */

/*
=============== 
Hero
===============
*/
/* underline added to globals */
.hero {
  margin-top: -5rem;
  height: 100vh;
  background: var(--clr-background-major);
  position: relative;
}

.hero-center {
  height: 100%;
  display: grid;
  align-items: center;
}

.hero .underline {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
.hero-info {
  background: transparent;
}
.hero-img {
  display: none;
  height: calc(100vh + var(--neg-page-top-space));
}

.hero-info h4 {
  color: var(--clr-dark);
}
.hero-icons {
  justify-items: flex-start;
}
.hero .btn {
  margin-top: 1.25rem;
}

@media screen and (min-width: 992px) {
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    background: var(--clr-prisma-background-gradient);
  }
  .hero-center {
    grid-template-columns: repeat(12, 1fr);
  }

  .hero h4 {
    font-size: 0.85rem;
  }
  .hero-info {
    grid-row: 1/1;
    grid-column: 1 / span 8;
  }
  .hero-img {
    margin-top: var(--navbar-height);
    height: calc(100vh + var(--neg-page-top-space));
    width: calc(51vw + var(--navbar-height));
    opacity: 0.95;
    display: block;
    grid-row: 1/1;
    grid-column: 6/-1;
  }
}
@media screen and (min-width: 1170px) {
  .hero h4 {
    font-size: 1rem;
  }

  .hero-img {
    margin-top: var(--navbar-height);
    height: calc(100vh + var(--neg-page-top-space));
    width: calc(51vw + var(--navbar-height));
  }

  .hero-info {
    grid-column: 1 / span 8;
  }

  .hero h4 {
    line-height: 1;
  }
}
