@font-face {
  font-family: "Oswald-300";
  src: local("Oswald"), local("Oswald-300"),
    url("../fonts/Oswald/oswald-v36-latin-300.woff2") format("woff2"),
    url("../fonts/Oswald/oswald-v36-latin-300.woff") format("woff"),
    url("../fonts/Oswald/oswald-v36-latin-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Oswald-Regular";
  src: local("Oswald"), local("Oswald-Regular"),
    url("../fonts/Oswald/oswald-v36-latin-regular.woff2") format("woff2"),
    url("../fonts/Oswald/oswald-v36-latin-regular.woff") format("woff"),
    url("../fonts/Oswald/oswald-v36-latin-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald-500";
  src: local("Oswald"), local("Oswald-500"),
    url("../fonts/Oswald/oswald-v36-latin-500.woff2") format("woff2"),
    url("../fonts/Oswald/oswald-v36-latin-500.woff") format("woff"),
    url("../fonts/Oswald/oswald-v36-latin-500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Oswald-700";
  src: local("Oswald"), local("Oswald-700"),
    url("../fonts/Oswald/oswald-v36-latin-700.woff2") format("woff2"),
    url("../fonts/Oswald/oswald-v36-latin-700.woff") format("woff"),
    url("../fonts/Oswald/oswald-v36-latin-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --clr-background-major: rgb(181, 178, 166);
  --clr-background-major-opaque: rgba(181, 178, 166, 0.9);
  --clr-background-minor: rgb(150, 149, 141);
  --clr-background-minor-opaque: rgba(150, 149, 141, 0.9);
  --clr-background-minor-light: rgb(170, 168, 163);
  --clr-navbar-fallback: rgba(150, 149, 141, 0.8);
  --clr-very-dark: rgb(26, 26, 26);
  --clr-dark-strong: rgb(46, 46, 46);
  --clr-dark: rgb(52, 69, 73);
  --clr-dark-opaque: rgba(52, 69, 73, 0.5);
  --clr-light-dark: rgb(86, 95, 97);
  --clr-triangle-nav-stroke: rgb(53, 160, 103);
  --clr-green-major: rgb(61, 139, 104);
  --clr-green-minor: rgb(61, 139, 104);
  --clr-magenta: rgb(118, 112, 129);
  --clr-topbar-font-hover: rgb(181, 178, 166);
  --clr-mountain-stroke: rgb(181, 178, 166);
  --clr-descr-animation-light: rgba(201, 201, 201, 0.5);
  --clr-btn-text-on-hover: rgb(181, 178, 166);
  --clr-text-quiet: rgb(52, 69, 73);
  --clr-about-img-border: rgb(181, 178, 166);
  --clr-about-img-border-hover: rgba(150, 149, 141, 0.7);
  --clr-passive: rgb(86, 95, 97);
  --clr-dark-shadow: rgb(128, 128, 123);
  --clr-about-img-background: linear-gradient(
    rgb(150, 149, 141),
    rgb(181, 178, 166)
  );
  --clr-about-img-background-hover: linear-gradient(
    rgb(181, 178, 166),
    rgb(150, 149, 141)
  );

  --clr-prisma-background-gradient: linear-gradient(
    270deg,
    var(--clr-dark),
    var(--clr-background-major)
  );

  --clr-topbar-text-hover-linear-gradient: linear-gradient(
    270deg,
    var(--clr-background-minor),
    var(--clr-magenta)
  );

  --clr-launch-body-background-radial-gradient: radial-gradient(
    var(--clr-background-major),
    var(--clr-background-minor)
  );

  --clr-section-radial-gradient: radial-gradient(
    circle,
    var(--clr-background-major) 0%,
    var(--clr-background-minor) 30%
  );

  --ff-primary: "Oswald-Regular", Helvetica, Trebuchet MS, sans-serif;
  --ff-secondary: "Oswald-500", Helvetica, Trebuchet MS, sans-serif;
  --ff-ternary: "Oswald-300", Helvetica, Trebuchet MS, sans-serif;

  --font-size-scalar: 0.8;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.5s ease;
  --transition-fast: all 0.3s ease;
  --transition-very-fast: all 0.15s ease;
  --spacing: 0.09rem;
  --spacing-big: 0.135rem;
  --navbar-height: 4.5rem;
  --neg-page-top-space: -4.5rem;
  --button-space: 4rem;
  --border-thickness: 1.2rem;
  --max-width: 1170px;
  --fixed-width: 700px;
  --default-box-shadow: 1px 1px 2px var(--clr-dark-shadow);
  --default-btn-shadow: 0px 1px 3px rgba(17, 17, 17, 0.3);
  --default-nav-shadow: 2px 0px 4px var(--clr-dark-strong);
}

.dark-theme {
  --clr-background-major: rgb(46, 46, 46);
  --clr-background-major-opaque: rgba(46, 46, 46, 0.9);
  --clr-background-minor: rgb(51, 51, 51);
  --clr-background-minor-opaque: rgba(51, 51, 51, 0.9);
  --clr-background-minor-light: rgb(51, 51, 51);
  --clr-navbar-fallback: rgba(51, 51, 51, 0.8);
  --clr-very-dark: rgb(181, 178, 166);
  --clr-dark: rgb(61, 139, 104);
  --clr-light-dark: rgb(46, 46, 46);
  --clr-green-major: rgb(137, 163, 149);
  --clr-magenta: rgb(53, 161, 105);
  --clr-btn-text-on-hover: rgb(46, 46, 46);
  --clr-about-img-border: rgb(46, 46, 46);
  --clr-about-img-border-hover: rgba(61, 139, 104, 0.3);
  --clr-about-img-background: linear-gradient(rgb(51, 51, 51), rgb(46, 46, 46));
  --clr-text-quiet: rgb(137, 163, 149);
  --clr-dark-shadow: rgb(40, 40, 40);
  --clr-topbar-font-hover: rgb(123, 99, 137);
  --clr-mountain-stroke: rgb(137, 163, 149);
  --default-box-shadow: 1px 1px 3px var(--clr-dark-shadow);
  --clr-about-img-background-hover: linear-gradient(
    rgb(46, 46, 46),
    rgb(51, 51, 51)
  );
  --clr-green-minor: rgb(137, 163, 149);
  --clr-topbar-text-hover-linear-gradient: linear-gradient(
    270deg,
    var(--clr-background-minor),
    var(--clr-light-dark)
  );
  --clr-prisma-background-gradient: linear-gradient(
    270deg,
    rgba(61, 139, 104, 0.8),
    rgb(46, 46, 46, 0.8)
  );
  --clr-launch-body-background-radial-gradient: radial-gradient(
    rgb(59, 59, 59),
    var(--clr-background-major)
  );
  --clr-section-radial-gradient: radial-gradient(
    circle,
    var(--clr-background-major) 0%,
    var(--clr-background-minor) 30%
  );
  transition: var(--transition);
}

.htmlScrollbarDarkMode {
  --clr-background-minor: rgb(51, 51, 51);
  --clr-dark: rgb(61, 139, 104);
  --clr-magenta: rgb(53, 161, 105);
  scrollbar-face-color: var(--clr-dark);
  scrollbar-shadow-color: var(--clr-magenta);
  scrollbar-highlight-color: var(--clr-magenta);
  scrollbar-color: var(--clr-dark) var(--clr-background-minor);
  scrollbar-width: thin;
  overflow-y: scroll;
  overflow-x: hidden;
}
/*
=============== 
Cookie Consent
===============
*/

.no-opacity {
  opacity: 1 !important;
  flex-direction: column !important;
}

.cookie-consent {
  background-color: var(--clr-background-minor);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 80px;
  padding: 10px;
  font-weight: 200;
  font-style: normal;
  font-size: 10pt;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: var(--default-nav-shadow);
  opacity: 0.8;
  z-index: 201;
}

.cookie-consent,
.cookie-consent .btn {
  font-family: Arial, Helvetica, sans-serif;
}

.enabled-text-required,
.enabled-text-variable,
.disabled-text-variable {
  margin-left: 40px;
  font-size: 8pt !important;
}

.enabled-text-variable {
  display: none;
}

.disabled-text-variable,
.enabled-text-required {
  color: var(--clr-passive);
}

.cookie-text,
.customizeCookies {
  display: flex;
  text-align: justify;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95vw;
  max-width: 1170px;
  padding: 10px;
  border: 2px solid var(--clr-passive);
  min-height: 80px;
  overflow: hidden;
}

.cookie-text {
  min-height: 105px;
  margin-right: 10px;
}

.link {
  color: var(--clr-dark);
  font-weight: 600;
}

.link:hover {
  text-decoration: underline;
}

.cookie-interactives {
  display: flex;
  flex-direction: row;
}

.cookie-allow-analytics-toggle {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  align-items: left;
  padding-top: 0;
}

.cookie-allow-analytics-toggle span {
  font-size: 9pt;
}

.row {
  flex-direction: row !important;
  width: 95vw !important;
  justify-content: center;
  align-items: center;
  margin-top: 8px !important;
}

.cookie-buttons {
  display: flex;
  flex-direction: column;
  justify-content: bottom;
  align-items: left;
  width: 9rem;
  margin-top: auto;
}

.cookie-buttons button {
  min-width: 4rem;
  width: 9rem;
  max-width: 9rem;
  height: 2rem;
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
  cursor: pointer;
  border: 0 !important;
}

/* The switch - the box around the slider */
.switch,
.switch-enabled {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 19px;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

/* Hide default HTML checkbox */
.switch input,
.switch-enabled input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  cursor: pointer;
}

.switch-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: bottom;
  align-items: left;
  border: 1px solid var(--clr-passive);
  padding-left: 0.25rem;
  margin-top: 0.25rem;
  font-size: 8pt !important;
}

.switch-content-wrapper button {
  width: 4rem;
  font-size: 9pt;
}

.switch-title {
  margin-top: 0.25rem;
  margin-left: 85px;
  width: 100%;
  text-align: left;
  overflow: hidden;
}

/* The slider */

.slider,
.slider-enabled {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 35px;
  background-color: var(--clr-passive);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before,
.slider-enabled:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 3px;
  bottom: 3px;
  background-color: var(--clr-background-major);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked,
.slider-enabled::before {
  background-color: var(--clr-dark);
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.enableallslider {
  background-color: var(--clr-magenta) !important;
}
.sliderChecked {
  background-color: var(--clr-green-major) !important;
}

.sliderChecked::before,
.enableallslider::before {
  background-color: var(--clr-dark) !important;
  -webkit-transform: translateX(16px) !important;
  -ms-transform: translateX(16px) !important;
  transform: translateX(16px) !important;
}

.enableText {
  display: block !important;
}

.disableText {
  display: none !important;
}

.cookie-info-parent {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* background: blue; */
  background-color: var(--clr-background-major-opaque);
  z-index: 202;
}

.cookie-info-child {
  max-height: 500px;
  max-width: 500px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5rem;
  box-shadow: var(--default-btn-shadow);
  background: var(--clr-background-major);
}

.cookie-info-box {
  width: 100%;
  height: 93.5%;
  padding: 1.5rem;
  background: var(--clr-background-minor);
  overflow-x: hidden;
  overflow-y: scroll;
}

.cookie-info-box p {
  font-size: 10pt;
}

.cookie-info-box-btn {
  width: 100% !important;
  height: 2rem;
  text-align: center;
  box-shadow: none !important;
}

.row button {
  margin: 0.15rem;
  font-size: 9pt;
}

@media screen and (max-width: 992px) {
  .cookie-consent {
    flex-direction: column;
    opacity: 0.95;
  }

  .cookie-interactives {
    flex-direction: column;
  }

  .cookie-allow-analytics-toggle {
    padding-left: 0;
  }

  .cookie-buttons button {
    margin: 0.15rem;
  }

  .cookie-buttons {
    margin-top: 8px;
    min-height: 1rem;
    width: 95.5vw;
    flex-direction: row;
  }

  .cookie-buttons .btn {
    font-size: 9pt;
    max-width: 31.5vw;
    width: calc(95vw / 3);
  }

  .cookie-text {
    margin-right: 0.5rem;
    padding: 0.5rem;
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .cookie-consent {
    align-items: center;
    font-size: 9pt;
    opacity: 1;
  }

  .cookie-consent button {
    max-width: 100%;
  }
}

/*
=============== 
Section Triangle Transitions
===============
*/
.triangle-one,
.triangle-two,
.triangle-three {
  display: block;
  width: 100vw;
  min-width: 1400px;
  height: auto;
  transition: none !important;
}

.triangle-one {
  position: absolute;
  bottom: -2px;
}

.triangle-gradient-one {
  stop-color: var(--clr-background-minor);
}

.triangle-gradient-two {
  stop-color: var(--clr-background-major);
}

.triangle-three path {
  fill: var(--clr-background-minor);
}

.triangle-two path {
  fill: var(--clr-background-major);
}

.triangle-two,
.triangle-three {
  position: relative;
  margin-bottom: -5.01rem;
}

.g-stroke {
  stroke: var(--clr-passive);
  animation-name: mountain_anim;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

/* The animation code */
@keyframes mountain_anim {
  0% {
    fill: var(--clr-background-major);
    stroke-width: 0;
  }
  80% {
    stroke: var(--clr-mountain-stroke);
    stroke-width: 0.7;
  }
  100% {
    fill: var(--clr-background-minor);
    stroke: var(--clr-topbar-font-hover);
    stroke-width: 1.3;
  }
}

/*
=============== 
Global Styles
===============
*/

html {
  scrollbar-face-color: var(--clr-dark);
  scrollbar-shadow-color: var(--clr-magenta);
  scrollbar-highlight-color: var(--clr-magenta);
  scrollbar-color: var(--clr-dark) var(--clr-background-minor);
  scrollbar-width: thin;
  overflow-y: scroll;
  overflow-x: hidden !important;
  font-size: 100%;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--clr-background-major);
  /* margin-top: 0; */
  color: var(--clr-dark);
  line-height: 1.5;
  font-size: 0.7rem;
  margin-top: var(--navbar-height);
  letter-spacing: var(--spacing);
  -webkit-font-smoothing: antialiased;
  /* overflow-x: hidden; */
}

/* 
.fixed-position {
  position: fixed;
  overflow-y: scroll;
}

.dynamic-position {
  position: static;
  overflow-y: auto;
} */

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

body::-webkit-scrollbar,
.cookie-info-box::-webkit-scrollbar {
  width: 9px;
  left: -100px;
}

body::-webkit-scrollbar-track,
.cookie-info-box::-webkit-scrollbar-track {
  background: var(--clr-background-minor);
}

body::-webkit-scrollbar-thumb,
.cookie-info-box::-webkit-scrollbar-thumb {
  background-color: var(--clr-dark);
  border-top: 0px;
  border-bottom: 0px;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1.1rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-dark);
  font-size: 1.1rem;
}

#sunmoon {
  width: 1rem;
  height: 1rem;
}

#themeiconwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#themeiconwrapper:hover #sunmoon path {
  transition: var(--transition);
  fill: var(--clr-dark);
}

.highlight {
  color: var(--clr-green-minor);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3.2rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.1rem;
  }
  p {
    font-size: 1.1rem;
  }
  body {
    font-size: 1.12rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-dark);
  color: var(--clr-background-minor);
  /* padding: 0.375rem 0.75rem; */
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition-fast);
  transition: var(--transition-fast);
  /* font-size: 0.7rem; */
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: var(--default-btn-shadow);
}

.btn:hover {
  color: var(--clr-btn-text-on-hover);
  background: var(--clr-green-minor);
  opacity: 0.9;
}

.center-btn {
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
  height: 3rem;
  width: 9rem;
  font-size: 0.9rem;
  font-family: var(--ff-primary);
  text-align: center;
  letter-spacing: var(--spacing-big);
  border: none;
}

.center-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

/* section */
.section {
  padding: 5rem 0;
  font-family: var(--ff-ternary);
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--clr-green-minor);
  margin-left: auto;
  margin-right: auto;
}
.section-title {
  margin-bottom: var(--button-space);
  text-align: center;
}

/* page links */

/*
==========
Launch
==========
*/

#imagewrapper {
  height: 100vh;
  width: 100vw !important;
  position: relative;
  background: var(--clr-launch-body-background-radial-gradient);
  margin-top: var(
    --neg-page-top-space
  ); /* to compensate window height difference */
  overflow: hidden !important;
}

#logo {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 30vh;
  min-width: 40vw;
  max-height: 40vh;
  max-width: 90vw;
  overflow: hidden;
  opacity: 0; /* make opaque for animation */
}

#triangle {
  cursor: pointer;
}

/* The animation code */
@keyframes highlight_descr {
  0% {
    fill: var(--clr-dark);
  }
  50% {
    fill: var(--clr-dark-opaque);
  }
  95% {
    fill: var(--clr-dark);
  }
  100% {
    fill: var(--clr-descr-animation-light);
  }
}

/* The animation code */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#description path:not(#_12hypen) {
  animation-name: highlight_descr;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes breathe {
  0% {
    transform: scale(0.95);
    transform-origin: 149.9px 148.4px;
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    transform-origin: 149.9px 148.4px;
    opacity: 1;
  }
}

#outercircle ellipse,
#innercircle ellipse {
  animation-name: breathe;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@media screen and (min-width: 992px) {
  #logo {
    max-height: 30vh;
  }
}

/*
==========
NAVBAR
==========
*/

.navbar_open {
  backdrop-filter: blur(10px);
}

.navbar_closed {
  backdrop-filter: blur(10px);
}

.navbar {
  font-family: var(--ff-secondary);
  font-size: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  z-index: 200;
  box-shadow: var(--default-nav-shadow);
  backdrop-filter: blur(10px);
  transition: var(--transition);
}

.navbar_disappear {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  z-index: 200;
  box-shadow: var(--default-nav-shadow);
  backdrop-filter: blur(10px);
  transition: var(--transition);
  transform: translateY(-100%);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .blurred-container {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

/* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .blurred-container {
    background-color: var(--clr-navbar-fallback);
  }
}

.nav-center {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav_main_logo_wrapper {
  height: var(--navbar-height);
}

#nav_main_logo {
  height: 100%;
  width: calc(var(--navbar-height) * 0.7);
  visibility: hidden;
}

.toggle-btn {
  font-size: 1.6rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-background-minor);
  cursor: pointer;
  transition: var(--transition);
  height: var(--navbar-height);
  border: none;
}

.toggle-btn:hover {
  color: var(--clr-background-minor);
}

.toggle-btn svg {
  width: calc(var(--navbar-height) * 0.7);
  height: var(--navbar-height);
  opacity: 0.9;
}

.toggle-btn:hover #circle_gradient_first_child {
  stop-color: var(--clr-background-major);
}

#toggle stop {
  transition: var(--transition);
}

#triangle_nav:hover {
  stroke: var(--clr-triangle-nav-stroke);
  stroke-width: 0.3rem;
}

.nav-links {
  font-size: 1rem;
  display: none;
}

#circle_nav {
  transform: scale(0.9);
  transform-origin: 50% 50% 0;
}

@keyframes makeVisible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes makeInvisible {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scaling {
  0% {
    transform: scale(0.9);
    transform-origin: 50% 50% 0;
    opacity: 1;
  }
  50% {
    transform: scale(1);
    transform-origin: 50% 50% 0;
    opacity: 0.5;
  }
  100% {
    transform: scale(0.9);
    transform-origin: 50% 50% 0;
    opacity: 1;
  }
}

.enableVisibility {
  animation-name: makeVisible;
  animation-duration: 2s;
  opacity: 1;
}

.enableInvisibility {
  animation-name: makeInvisible;
  animation-duration: 1s;
  opacity: 0;
}

.scale {
  animation-name: scaling;
  animation-duration: 500ms;
}

@media screen and (min-width: 768px) {
  .toggle-btn {
    display: none;
  }
  .nav-links {
    display: flex;
    justify-content: flex-end;
  }
  .nav-links li {
    margin-right: 2rem;
  }
  .nav-links a {
    text-transform: uppercase;
    color: var(--clr-dark);
    letter-spacing: var(--spacing);
    transition: var(--transition-fast);
    padding: 0.2rem 0;
  }
  .nav-links a:hover {
    color: var(--clr-dark);
    box-shadow: 0px -3px var(--clr-green-major);
  }

  #nav_main_logo {
    visibility: visible;
  }

  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
}

@media screen and (min-width: 992px) {
  #nav_main_logo {
    visibility: visible;
  }
}

/*
=============== 
Sidebar
===============
*/
.topbar {
  background: var(--clr-launch-body-background-radial-gradient);
  position: fixed;
  padding-top: var(--navbar-height);
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 199;
  display: grid;
  place-items: center;
  transition: var(--transition);
  transform: translateY(-100%);
  visibility: hidden;
}

.show-topbar {
  visibility: visible;
  transform: translateY(0);
}
.topbar-links li {
  opacity: 1;
}

.topbar-links li a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: var(--clr-dark);
  letter-spacing: var(--spacing);
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  width: 100vw;
  transition: var(--transition);
}
.topbar-links li a:hover,
.topbar-links div:hover {
  background: var(--clr-topbar-text-hover-linear-gradient);
  color: var(--clr-topbar-font-hover);
}

.topbar-links div {
  width: 100vw;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centering y-axis */
  align-items: center; /* Centering x-axis */
}

.topbar-links svg {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .topbar {
    transform: translateY(-100%);
  }
}

/*
=============== 
Hero
===============
*/

.fixed-position {
  position: fixed;
  width: 100%;
  height: 100vh;
}

.big-heading {
  font-size: clamp(60px, 8vw, 80px);
}

.hero {
  margin-top: var(--neg-page-top-space);
  height: 100vh;
  background: var(--clr-background-major);
  position: relative !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.hero-center {
  height: 100%;
  display: grid;
  align-items: center;
}

.hero .underline {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
.hero-info {
  background: transparent;
}
.hero-img {
  display: none;
  height: calc(100vh + var(--neg-page-top-space));
}

.hero-info h4 {
  color: var(--clr-dark);
  font-family: var(--ff-ternary);
}

.hero-icons {
  justify-items: flex-start;
}
.hero .btn {
  margin-top: 1.25rem;
  height: 3rem;
  width: 9rem;
  font-size: 0.9rem;
  font-family: var(--ff-primary);
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  letter-spacing: calc(var(--spacing) * 1.5);
  border: none;
}

.hero h1 {
  font-family: var(--ff-secondary);
}

.hero p {
  margin-bottom: 0;
}

.hero-description {
  font-family: var(--ff-ternary);
  max-width: 400px;
  hyphens: auto;
  text-align: justify;
  padding-top: 1rem;
  /* padding-bottom: 1rem; */
  margin-bottom: var(--button-space);
  text-transform: uppercase;
}

.stretch-span-to-width {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stretch-to-width {
  text-align: justify;
}

.stretch-to-width::after {
  content: "";
  display: inline-block;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    background: var(--clr-prisma-background-gradient);
  }
  .hero-center {
    grid-template-columns: repeat(12, 1fr);
  }

  .hero-info {
    grid-row: 1/1;
    grid-column: 1 / span 8;
  }
  .hero-img {
    margin-top: var(--navbar-height);
    height: calc(100vh + var(--neg-page-top-space));
    width: calc(51vw + var(--navbar-height));
    opacity: 0.95;
    display: block;
    grid-row: 1/1;
    grid-column: 6/-1;
  }
}
@media screen and (min-width: 1170px) {
  .hero h4 {
    font-size: 1.1rem;
    line-height: 1;
  }

  .hero-img {
    margin-top: var(--navbar-height);
    height: calc(100vh + var(--neg-page-top-space));
    width: calc(51vw + var(--navbar-height));
  }

  .hero-info {
    grid-column: 1 / span 8;
  }
}
/*
===============
About Component
===============
*/

#about {
  overflow-x: hidden !important;
  position: relative;
  width: 100%;
  z-index: 2;
}

.about-component-section {
  /* min-height: 100vh; */
  /* background: var(--clr-launch-body-background-radial-gradient); */
  /* background: var(--clr-background-minor); */
  background: var(--clr-section-radial-gradient);
}

.shadow-box {
  /* box-shadow: 1px 1px 2px var(--clr-background-minor); */
  box-shadow: 1px 1px 2px var(--clr-dark-shadow) !important;
}

.shadow-box-dark {
  box-shadow: var(--default-box-shadow) !important;
  /* height: 100%; */
  /* width: 100%; */
}

.about-component {
  background: var(--clr-background-major);
  color: var(--clr-dark);
  padding: var(--border-thickness) var(--border-thickness);
  margin-bottom: 2rem;
  text-align: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  overflow-x: hidden !important;
}

.about-component h4 {
  font-weight: 500;
  font-size: 1.5rem;
}

.about-component p {
  background: var(--clr-background-minor);
  padding: var(--border-thickness);
  margin: 0;
  letter-spacing: calc(var(--spacing) * 1.5);
}

.ball-icon-wrapper {
  position: relative;
  height: calc(var(--border-thickness) * 1.5);
  padding-top: 0.25rem;
  transition: var(--transition-fast);
  font-size: var(--border-thickness);
}

.about-component-icon {
  height: var(--border-thickness);
  position: absolute;
  transition: var(--transition-fast);
}

.ball-icon-wrapper:hover {
  padding-right: calc(var(--border-thickness));
}

.ball-icon-wrapper:hover #io-triangle-sharp {
  color: var(--clr-green-major);
  transform: scale(1.4);
  margin-left: 0;
}

.ball-icon-wrapper:hover #bs-circle-fill {
  margin-top: 0.2rem;
  margin-left: 0;
}

#bs-circle-fill {
  margin-left: calc(((var(--border-thickness) / 2) * -1) - 1rem);
}

#io-triangle-sharp {
  margin-left: calc(((var(--border-thickness) / 2) * -1) + 1rem);
}

.about-component .underline {
  width: 3rem;
  height: 0.12rem;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.about-component p {
  text-align: justify;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.about-img-container {
  background: transparent;
  transition: var(--transition);
  padding: 0;
}

.about-img {
  display: inline-block;
  text-align: center;
  overflow: hidden;
  background: var(--clr-about-img-background);
  padding-top: 3rem;
  width: 90%;
  border: var(--border-thickness);
  border-style: solid;
  border-color: var(--clr-about-img-border);
  position: relative;
  transition: var(--transition);
  border-radius: 50%;
  box-shadow: 1px 1px 2px var(--clr-dark-shadow);
}

/* .about-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
} */

.about-default-img {
  top: 0;
  bottom: 0;
  left: 0;
  position: relative;
  opacity: 0.8;
}

.about-hover-img {
  display: inline-block;
  text-align: center;
  overflow: hidden;
  margin-top: 3rem;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  width: 100%;
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: var(--transition);
}

.about-hover-img:hover {
  opacity: 0.7;
}

.about-img:hover {
  transition: var(--transition);
  background: var(--clr-about-img-background-hover);
}

::before,
::after {
  box-sizing: inherit;
}

.skill-set {
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 200px));
  padding: 0;
  margin: 20px 0 0 0;
  overflow: hidden;
  list-style: none;
}

.skill-set li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-family: var(--clr-green-major);
  font-size: 1rem;
  text-align: left;
}

ul.skill-set li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.6rem;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 7px solid var(--clr-dark);
}

@media screen and (min-width: 676px) {
  .about-component-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
  }
  .skill-set li {
    font-size: 1.1rem;
  }
}

/*
===============
About Page
===============
*/

.about-text .section-title {
  margin-bottom: 2rem;
  text-align: left;
}

/*
=============== 
Jobs
===============
*/

#sctn_experience {
  position: relative;
  width: 100%;
  z-index: 2;
  background: var(--clr-background-major);
}

.jobs {
  /* min-height: 100vh; */
}

.jobs-center {
  width: 80vw;
  margin: 0 auto;
  margin-bottom: var(--button-space);
  max-width: var(--max-width);
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  margin-bottom: var(--button-space);
}
.job-btn {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  font-family: var(--ff-secondary);
  color: var(--clr-passive);
  font-size: 1.1rem;
  letter-spacing: var(--spacing);
  margin: 0 0.5rem;
  transition: var(--transition-fast);
  cursor: pointer;
  padding: 0.25rem 0;
  line-height: 1;
  background: var(--clr-background-minor-opaque);
}
.active-btn {
  background: var(--clr-background-minor-opaque);
  box-shadow: 0 3px var(--clr-green-minor);
  color: var(--clr-dark);
}
.job-btn:hover {
  background: var(--clr-background-minor-opaque);
  color: var(--clr-passive);
  box-shadow: 0 3px var(--clr-green-minor);
}
.job-info {
  background: var(--clr-background-major);
  min-height: 475px;
  margin-top: calc(-2 * var(--border-thickness));
  padding: var(--border-thickness);
  border: var(--border-thickness) solid transparent;
  border-color: var(--clr-background-minor);
  letter-spacing: var(--spacing-big);
}
.job-info h3 {
  font-weight: 500;
  font-size: 1.5rem;
}
.job-info h4 {
  text-transform: uppercase;
  color: var(--clr-grey-5);
  background: var(--clr-grey-9);
  display: inline-block;
  padding: 0.375rem 0.75rem;
}
.job-date {
  letter-spacing: var(--spacing);
}
.job-desc {
  font-size: 1.1rem;
  font-weight: 400;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 1.25rem;
}
.job-desc p {
  margin-bottom: 0;
  color: var(--clr-grey-3);
}
.job-icon {
  color: var(--clr-primary-5);
}
@media screen and (min-width: 992px) {
  .jobs-center {
    width: 90vw;
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: var(--button-space);
    padding-left: 26px;
    /* background: yellow; */
  }
  .btn-container {
    flex-direction: column;
    justify-content: flex-start;
    width: 185px;
    margin-right: 4rem;
    margin-left: 1rem;
  }
  .job-btn {
    width: 185px;
    height: 50px;
    margin: 0;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .job-info {
    min-height: 420px;
    max-width: 590px;
    margin-top: 0;
    font-size: 1.1rem;
  }

  .active-btn {
    background: var(--clr-background-minor-opaque);
    box-shadow: 0 3px var(--clr-green-minor);
    color: var(--clr-dark);
  }
  .job-btn:hover {
    background: var(--clr-background-minor-opaque);
    color: var(--clr-passive);
    box-shadow: 0 3px var(--clr-green-minor);
  }
}

/*
=============== 
Projects
===============
*/

#sctn_projects {
  position: relative !important;
  width: 100%;
  z-index: 2;
}

.projects {
  /* background: var(--clr-launch-body-background-radial-gradient); */
  /* background: var(--clr-background-minor); */
  background: var(--clr-section-radial-gradient);
}
.project {
  display: grid;
  margin-bottom: var(--button-space);
}

.project-img {
  margin-left: var(--border-thickness);
  margin-right: var(--border-thickness);
  z-index: -1;
  margin-bottom: calc(var(--border-thickness) * -5);
  border: 0.25rem solid transparent;
  transition: var(--transition-fast);
}

.project-img:hover {
  border: 0.25rem solid var(--clr-background-major-opaque);
  border-bottom: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  transition: var(--transition-fast);
}

.project-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    var(--clr-passive),
    var(--clr-light-dark)
  );
  opacity: 0.85;
  transition: var(--transition-fast);
}
.project:hover .project-img::after {
  opacity: 0.2;
}
.project-info {
  background: var(--clr-background-major);
  padding: var(--border-thickness);
  color: var(--clr-dark);
  transition: var(--transition-fast);
  /* grid-row: 1 / 1; */
}

.project-number {
  display: inline-block;
  /* font-size: 1.25rem; */
  /* color: var(--clr-primary-5); */
  height: calc(var(--border-thickness) * 1.5);
  margin-bottom: 0.75rem;
}
.project-info h3 {
  font-weight: 500;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
.project-desc {
  word-spacing: 15px;
  color: var(--clr-grey-3);
  background: var(--clr-background-minor);
  padding: var(--border-thickness);
  margin-bottom: calc(var(--border-thickness) - 0.5rem);
}
.project-stack {
  margin-bottom: 1rem;
}
.project-stack span,
.about-stack span {
  display: inline-block;
  background: var(--clr-background-minor-light);
  color: var(--clr-text-quiet);
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}
.about-stack span {
  margin-top: 0.5rem;
}
.project-icon {
  color: var(--clr-passive);
  font-size: 1.25rem;
  margin-right: 0.5rem;
  transition: var(--transition-fast);
}
.project-icon:hover {
  color: var(--clr-dark);
}
@media screen and (min-width: 768px) {
  .project-img {
    margin-bottom: calc(var(--border-thickness) * -10);
  }
}
@media screen and (min-width: 992px) {
  .project {
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }
  .project-img {
    grid-column: 1 / span 8;
    /* grid-column-end: 8; */
    grid-row: 1 / 1;
    height: 30rem;
    opacity: 0.8;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    transition: var(--transition--very-fast);
  }

  .project-img:hover {
    border: 0.25rem solid var(--clr-background-major-opaque);
    transition: var(--transition-very-fast);
  }

  .project-info {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    grid-column: 5 /12;
    grid-row: 1 / 1;
    padding: var(--border-thickness);
    letter-spacing: calc(var(--spacing) * 1.5);
    text-align: justify;
    opacity: 0.98;
    transition: var(--transition-fast);
  }
  .project:nth-of-type(even) .project-img {
    grid-column: 5 / -1;
    grid-row: 1 / 1;
  }
  .project:nth-of-type(even) .project-info {
    grid-column: 2 / span 7;
    grid-row: 1 / 1;
    text-align: left;
  }
}

/*
=============== 
Projects Page
=============== 
*/

.projects-page .projects,
.blog-page {
  margin-top: var(--neg-page-top-space);
  padding-top: calc(var(--navbar-height) * 2);
  min-height: 100vh;
}

/*
=============== 
Blog
===============
*/

#sctn_blog {
  position: relative !important;
  width: 100%;
  z-index: 2;
  background: var(--clr-background-major);
}

.blog {
  display: block;
  margin-bottom: 2rem;
  background: var(--clr-background-minor);
  transition: var(--transition-fast);
}
.blog:hover {
  box-shadow: var(--dark-shadow);
  transform: scale(1.02);
}
.blog article {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}
.blog-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  border: var(--border-thickness) solid var(--clr-background-minor);
  border-top: 0;
  border-bottom: 0;
  padding: 0;
  background: var(--clr-background-minor);
}
.blog-card p {
  background: var(--clr-background-major);
  padding: var(--border-thickness);
  margin-bottom: 0;
  text-align: justify;
}
.blog-img {
  height: 15rem;
}
.blog-card h4 {
  font-size: 1.3rem;
  font-weight: 500;
  margin: var(--border-thickness);
  margin-left: 0;
  color: var(--clr-dark);
}

.blog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--clr-background-minor);
}
.blog-footer p {
  color: var(--clr-passive);
  background: var(--clr-background-minor);
  padding-right: 0.5rem;
}
.blog-footer p:first-of-type {
  display: inline-block;
  background: var(--clr-background-major);
  color: var(--clr-text-quiet);
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}
@media screen and (min-width: 576px) {
  .blogs-center {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
    column-gap: 2rem;
  }
  .blog-img {
    height: 17.5rem;
  }
}
@media screen and (min-width: 850px) {
  .blog-img {
    height: 13.75rem;
  }
}
